# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
*.egg

# Database
backend/data/*.db

# Node
node_modules/
frontend/.next/
frontend/out/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

.vercel
